body {
  text-align: center;
  background: rgb(30, 41, 54);
}
#wrapper {
  background: rgb(251, 216, 151);
  max-width: 721px;
  margin: 5% auto;
  border-radius: 10px;
}
#fn-circle {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: cornsilk;
  border-radius: 50%;
  line-height: 200px;
/*  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;*/
}
/*#fn-circle:hover {
  transform: scale(2);
}*/
.fn-print-grow {
  margin-bottom: 5%;
}
.fn-print-guess {
  font-size: 6em;
}
.sunglasses {
  font-size: 11em;
}
.thumbs-up {
  font-size: 8em;
}
.hand-right {
  font-size: 8em;
  -ms-transform: rotate(50deg); /* IE 9 */
  -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
  transform: rotate(50deg);
}
.fn-guess-alerts div {
  display: none;
}
.fn-sink {
  display: none;
}
.fn-win-modal, .fn-lose-modal {
  margin-top: 13%;
}
#game-area {
  background-color: #188DBE;
  padding: 3%;
  border-radius: 10px;
  max-width: 700px;
}
.btn-guess {
  background: cornsilk;
  border: 1px solid rgb(185, 185, 185);
}
.jumbotron {
  background-color: rgb(251, 216, 151);
  margin-bottom: 0;
  border-radius: 10px;
}
.jumbotron h1 {
  color: rgb(34, 65, 101)
}
.jumbotron h2 {
  color: #403F3B;
}